.content {
    display: flex;
    flex-direction: column;
}

.wrapper {
    background-color: slategrey;
    min-width: 100%;
    min-height: 50px;
    padding: 10px;
}

.gaugeGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}